<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HubEntities" connectionString="metadata=res://*/Entities.Hub.csdl|res://*/Entities.Hub.ssdl|res://*/Entities.Hub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Hub;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>